<!-- templates/produtosHTML.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Lista de Produtos</title>
</head>
<body>
    <h1>Lista de Produtos</h1>
    <ul>
        <li>
            <h3>Maçã Royal</h3>
            <p><strong>Preço:</strong> 0.99€</p>
            <p><strong>Secção:</strong> Frutas e Legumes</p>
        </li>
        <hr>
        <li>
            <h3>Coca-Cola 33cl</h3>
            <p><strong>Preço:</strong> 0.99€</p>
            <p><strong>Secção:</strong> Bebidas</p>
        </li>
    </ul>
</body>
</html>