{% extends "base.html" %}
{% load static %}

{% block titulo %}Lista de Produtos{% endblock %}

{% block content %}
  <h1>Lista de Produtos</h1>
  <ul>
    <li>
      <h3>Maçã Royal</h3>
      <p><strong>Preço:</strong> 0.99€</p>
      <p><strong>Secção:</strong> Frutas e Legumes</p>
    </li>
    <hr style="border: 0; border-top: 1px solid var(--line); margin: 15px 0;">
    <li>
      <h3>Coca-Cola 33cl</h3>
      <p><strong>Preço:</strong> 0.99€</p>
      <p><strong>Secção:</strong> Bebidas</p>
    </li>
  </ul>
{% endblock %}